.extWrapper {
	width:200px;
	height:200px;
	background-color:green;
	/*background-image:url('chrome-extension://__MSG_@@extension_id__/images/out1l.jpg');*/
	position:fixed;
	bottom:0px;
	right:0px;
}

.extLeft {
	width:50px;
	height:180px;
	float:left;
}

.extCenter {
	width:100px;
	height:180px;
	float:left;
}

.extRight {
	width:50px;
	height:180px;
	float:left;
}

.extBottom {
	width:200px;
	height:20px;
	background-color:orange;
	float:left;
	clear:both;
}